*.Identifier
*.gz
*.iml
*.log
*.out
*.sublime*
*.swp
*.tmp
*~
.DS_Store
.bsp/
.bundle/
.idea
.idea*
.jekyll-cache/
.jekyll-metadata
.sass-cache/
.yardoc
.yardoc/
/spec/reports/
Gemfile.lock
Notepad++/
RUNNING_PID
__MACOSX
_site/
_yardoc/
coverage/
doc/
binstub/
jekyll/doc/
node_modules/
out/
pkg/
project/
spec/status_persistence.txt
target/
tmp/
~*
